@{
    ViewBag.Title = "jQueryUI";
}
@Html.TextBox("Data")
<hr />
<button id="btn">Botão</button>
<hr />
@Html.TextBox("autocomplete")
<h2>jQueryUI</h2>
@section head{
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    }

@section scripts{
    
    @*<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script> *@
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

    <script>
        $('#Data').datepicker();
        $('#btn').button();
        
        var cidades = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Santa Catarina', 'Rio Grande do Sul'];
        $('#autocomplete').autocomplete({source:cidades});
    </script>

    
    }